.ListContainer > div + div {
  margin: 12px 0;
}

.ApplicantsPage,
.SearchPage {
  max-width: 1200px;
  margin: auto;
  margin-top: 96px;
}

.ApplicantsPage > * {
  width: 40%;
}

.titleLarge {
  font-size: 2em;
  font-weight: bold;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mr32 {
    margin-right: 32px;
}

.btnNoOutline {
  border: none !important;
  font-weight: bold;
}

.JobListingContainer {
  max-width: 600px;
}


.searchBar {
  max-width: 600px;
}
