.ListContainer > div + div {
  margin: 12px 0;
}

.ApplicantsPage,
.SearchPage,
.JobListingDetailPage,
.ViewStudentPage {
  max-width: 1200px;
  margin: auto;
  margin-top: 96px;
}

.ApplicantsPage > * {
  width: 40%;
}

.titleLarge {
  font-size: 2em;
  font-weight: bold;
}

.titleMed {
  font-size: 1.4em;
  font-weight: bold;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb64 {
  margin-bottom: 64px;
}

.mr32 {
  margin-right: 32px;
}

.mt32 {
  margin-top: 32px;
}

.btnNoOutline,
.btnNoOutline input {
  border: none !important;
  box-shadow: none;
}

.inputUnderline input,
textarea.inputUnderline,
.inputUnderline div {
  box-shadow: none !important;
  outline: none;
  padding: 0;
  /* border-style: inset; */
  /* border-bottom: 1px solid #aaa; */
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.JobListingContainer,
.JobsListingDetailContainer,
.ViewStudentContainer {
  max-width: 600px;
  width: 100%;
}
.CompanyDetailContainer {
  width: 100%;
  max-width: 960px;
}

.EmployerProfileWrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 120px;
}

.CompanyDetailContainer .label {
  min-width: 240px;
}

.CompanyDetailContainer > div {
  margin-bottom: 32px;
}

.searchBar {
  max-width: 600px;
}

.fullTextArea {
  width: 100%;
}

.btnPill {
  background-color: #eee !important;
  border: 1px solid #eee !important;
  border-radius: 16px;
  padding: 2px 32px;
  box-shadow: none !important;
}
.btnPill:hover {
  background-color: #ddd !important;
}

.ViewStudentContainer .experinceItem {
  margin-bottom: 24px;
}

.ViewStudentContainer .experinceItem > p:first-child * + *,
.ViewStudentContainer .educationItem > p:first-child * + * {
  margin-left: 1em;
}

.informationTable {
  margin-top: 64px;
}

.informationTable > div {
  margin-bottom: 1em;
}
.informationTable > div > div:first-child {
  min-width: 120px;
  font-weight: bold;
}
